<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Charfinder</title>
    <script>
        var query = "{query}";
        console.log(query);
    </script>
    <script src="template/html_script.js"></script>
  </head>
  <body>
    Examples: {links}
    <p>
      <form action="/">
        <input type="search" name="query" value="{query}">
        <input type="submit" value="find"> {message}
      </form>
    </p>
    <table>
      {result}
    </table>
  </body>
</html>
